<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
         Site physicstopics.fr - Courriel de validation du compte
    </title>
  </head>

  <body>
    <br />
    Site physicstopics.fr - Courriel de validation du compte de {{ uemail }}
	<br /><br />
	Cliquer sur ce lien : <br /><br />
	<a href="{{ 'https://physicstopics.fr/user/authentification/'~uemail~'/'~toklink }}">Validation de votre compte</a>
	<br />
  </body>

</html>
