{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Ajout d'élément - {{ parent() }}
{% endblock %}

{% block sitephysphysmvc_body %}

  <h2>Homepage de Edition add</h2>

  {{ include("SitephysPhysmvcBundle:Phys:form.html.twig") }}

  <p>
    Déjà existant.
  </p>
{#
  <p>
    <a href="{{ path('sitephys_physmvc_edition') }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'élément
    </a>
  </p>
#}
{% endblock %}
