{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Ajout de {{ thing }}
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysphysmvc/images/geo-photo.jpg') }}" class="addphoto" alt="Image de Suggestion - Ajout" />
  </div>
{% endblock %}

{% block sitephysphysmvc_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Suggestion d'ajout de {{ thing }} </h2>
{% endblock %}

{% block sitephysphysmvc_body %}
  
  <br />
  {{ include("SitephysPhysmvcBundle:Phys:formadd.html.twig") }}

{% endblock %}
