{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Ajout d'élément 
{% endblock %}

{% block sitephysphysmvc_body %}

  <h3>Ajout d'élément</h3>
  <h3>Domaine : {{ domaintitle }}</h3>
  <h3>Niveau : {{ levelcontent }}</h3>
  <br />
  {{ include("SitephysPhysmvcBundle:Phys:form.html.twig") }}

  <p>
    <a href="{{ path('sitephys_physmvc_edition') }}" class="btn btn-default">
      Retour à l'accueil de l'édition
    </a>
  </p>

{% endblock %}
