{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Suppression de l'élément - {{ parent() }}
{% endblock %}

{% block sitephysphysmvc_body %}

  <h2>Suppression</h2>


  <p>
    Confirmation de suppression ?
  </p>

  <form action="{{ path('sitephys_physmvc_edition_delete', {'id': id}) }}" method="post">
    <a href="{{ path('sitephys_physmvc_edition', {'id': id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour aux éléments
    </a>
    <input type="submit" value="Supprimer" class="btn btn-danger" />
   
  </form>

{% endblock %}