{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Liens
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Mentions légales</div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
	    <img src="{{ asset('bundles/sitephysphysmvc/images/legal.jpg') }}" class="homephoto" alt="Image de Mentions légales" title="Legal" />
	  </div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
      <div id="hb">Mentions légales</div>
      <br />
      <nav id="tabs-nav" class="clearfix">
        <a href="#hebergement">Hébergeur</a><span>&nbsp;</span>
        <a href="#responsabilities">Responsabilités</a><span>&nbsp;</span>
        <a href="#authors">Auteurs</a><span>&nbsp;</span>
        <a href="#administration">Administration</a><span>&nbsp;</span>
      </nav>

      <div id="tabs-container" onload="initTab()">
        <article id="hebergement">
          <strong>Titre</strong> : <strong>Hébergement</strong>
          <br />Techcrea Solutions SARL
          <br />FirstHeberg.com
          <br />Valencanal, Chemin du Noir Mouton
          <br />59300 VALENCIENNES
          <br />France 
          <br />Techcréa Solutions SARL est déclarée a la CCI de Valenciennes sous le numéro de RCS 519 909 709. 
        </article>
        <article id="responsabilities">
          <strong>Titre</strong> : <strong>Responsabilités</strong>
          <br />En dépit du soin de vérification des éléments, références et schémas, des erreurs peuvent persister dans chaque page du site. 
          <br />Les contenus du site https://physicstopics.fr ne sont présents qu’à but informatif : l'administrateur qui valide les contenus des auteurs ne saurait être tenu responsable d'éventuelles conséquences des erreurs ou problèmes liés à la consultation, l’utilisation ou l’interprétation de ces contenus. 
          <br />Aucune garantie n'est donnée par l'administrateur quant à l'exhaustivité et la validité des contenus du site. 
        </article>
        <article id="authors">
          <strong>Titre</strong> : <strong>Auteurs</strong>
          <br />Les éléments (textes, images, scripts ...) mis en ligne sur le site https://physicstopics.fr restent la propriété intellectuelle et légale de leurs auteurs.
        </article>
        <article id="administration">
          <strong>Titre</strong> : <strong>Administration du site</strong>
          <br />L'administrateur du site https://physicstopics.fr n'est pas responsable des modifications et ajouts proposés par les auteurs.
          <br />L'administrateur peut supprimer tout élément ne correspondant pas aux thèmes du site : sciences physiques, chimiques et technologiques.  
        </article>
      </div>

  </div>

{% endblock %}
