{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Liens
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Liens</div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
	  <img src="{{ asset('bundles/sitephysphysmvc/images/linkssite.jpg') }}" class="homephoto" alt="Image de Liens" title="Liens" />
	</div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  <div class="well">
      <div id="hb">Sites de physique</div>
      <br />
      <nav id="tabs-nav" class="clearfix">
        <a href="#site1">Mon autre site</a><span>&nbsp;</span>
        <a href="#site2">Site de TS</a><span>&nbsp;</span>
        <a href="#site3">Site généraliste</a><span>&nbsp;</span>
      </nav>
      <div id="tabs-container" onload="initTab()">
        <article id="site1">
          Titre : Site d'extraits de livres, TP, colles et applications pour TS et Prépas
          <br />Commentaire : Colles de mathématiques et de physique, TP, applications et extraits d'ouvrages de mathématiques (jusqu'à Bac +1) et de physique-chimie (jusqu'à Bac +2)
          <br />Lien Internet : <a href="http://enseignant_postbac.nexgate.ch">http://enseignant_postbac.nexgate.ch</a>
        </article>
        <article id="site2">
          Titre : Site de Physique-Chimie au Lycée
          <br />Commentaire : Nombreux éléments de cours, d'exercices et de TP en physique-chimie (1L, 1ES, TS, TS-spé et Bac S) par M. Chaurand, Professeur agrégé.
			<br />Lien Internet : <a href="http://chaurand.fr/site/index.html">http://chaurand.fr/site/index.html</a>
        </article>
        <article id="site3">
          Titre : Site généraliste en astronomie, physique, chimie et technologies
          <br />Commentaire : Vaste site généraliste en astronomie, sciences et nouvelles technologies (projet Luxorion). 
			<br />Lien Internet : <a href="http://www.astrosurf.com/luxorion/index.htm">http://www.astrosurf.com/luxorion/index.htm</a>
        </article>
      </div>
  </div>
{% endblock %}
