
body {
  margin: auto;
  color:black;
  background: -ms-linear-gradient(left, rgba(100, 5, 5, 0.95), rgba(130, 50, 60, 0.95));
  background: -webkit-linear-gradient(left, rgba(95, 10, 10, 1.0) 45%, rgba(140, 40, 50, 1.0) 70%);
  background: -moz-linear-gradient(left, rgba(95, 10, 5, 0.95), rgba(140, 40, 50, 0.95));
  background: -o-linear-gradient(left, rgba(95, 10, 5, 0.95), rgba(140, 40, 50, 0.95));
}

article {
    background-color: #2c7699;
}

a {
    text-decoration: none;
    color: #555;
}

#ho {
    margin: 10px;
    font-size: 30px;
    color:#FA7; 
    text-align:center; 
    font-style:italic;
}

#hw {
    font-size: 26px;
    color:#FFF; 
    text-align:center; 
    margin:10px;
}

#hb {
    font-size: 22px;
    color:#000; 
    text-align:center; 
    margin:10px;
}

#hx {
    font-size: 20px;
    color:#BBB; 
    text-align:center; 
    margin:10px;
}

#taglines {
    text-align: center;
}

#taglines em {
    font-size: 36px;
    color: #16a085;
}

#taglines em i {
    margin: 0 20px;
}

.fontarticleini {
    margin-top: 0px;
    font-size: 0px;
}

.fontarticle {
    margin-top: 5px;
    font-size: 20px;
    color: #FFF;
    background-color: #9dc6c1;
}

.italique {
    font-style: italic;
}

.cf:before, .cf:after {
  content:" ";
  display: table;
}
.cf:after {
  clear: both;
}
.cf {
  *zoom: 1;
}
.menu {
  list-style:none; 
  width: 100%;
  margin: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: -ms-fit-content; 
}
.menu > li {
  background: #34495e;
  text-decoration: none;
}
.menu li a {
  width:100%;
  margin: 0;
  color: #FFF;
  text-decoration: none;
  font-family: Arial, Helvetica;
  font-size: 24px;
}
.menu li:hover {
  background: #e74c3c;
  text-decoration: none;
}

.menu-color {
  background: #88BB55;
  text-decoration: none;
}

#containerimghome {
    width: 80%;
    padding: 0;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(105,175,205,0.00);
}

#containerimghometopic {
    margin: auto;
    width: 90%;
    display: block;
    box-sizing: border-box;
    background-color: rgba(135,185,225,0.20);
}

.containerthome {
    height: 5%;
    padding: 0%;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(95,130,145,0.00);
}

.containertedit {
    padding: 0;
    margin: auto;
    display: block;
    box-sizing: border-box; 
}

.containertglobal {
    width: 36%;
    height: 270px;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(75,130,145,0.00);
}

.homephoto {
    padding: 0;
    margin: auto;
    display: block;
}

.groupphotos {
    width: 90%;
    height: 470px;
    margin: auto;
    display: block;
    box-sizing: border-box; 
}

.addphoto {
    padding: 1%;
    margin: auto;
    display: block;
}

section {
	margin: 10px 0;
}

.clearfix::after {
	display: block;
	content: "";
    margin:auto;
}


#tabs-container {
    margin-top: 0px;
    font-size: 0px;
    /* padding: 1%; */
}

#tabs-container h1 {
    font-size: 24px;
    color: #000;
}

#tabs-container article {
    text-align: left;
    background-color: rgba(115, 140, 130, 0.20);
    color:#046;
}

#menu_nav {
    width: 100%;
    margin: 0;
	text-align: center;
}

#menu_nav ul {
    width: 100%;
    margin: 0;
    text-align: center;
}

#menu_nav ul li {
    width: 12%; 
	display: inline-block; 
	list-style: none;
    text-decoration: none;
}

#menu_nav ul li a:hover {
    text-decoration: none;
}

.btnvis {
    visibility:visible;
}

.btninv {
    visibility:hidden;
}

.well {
    text-align: center;
    margin: auto;
	width: 80%;
    display: block;
    box-sizing: border-box;
    background-color: rgba(165,220,210,0.00);
}

.wellform {
    margin: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
    background-color: rgba(175,160,230,0.00);
    color: #FFF;
}

#tabs-nav {
    width: 90%;
    margin:auto;
}

#tabs-nav a {
    margin: auto;
    background-color: #07915c; 
    color: #FFF;
    padding:6px;
}

#tabs-nav a.selected {
    background-color: #2c7699; 
    text-decoration: none;
}

#tabs-nav a:hover {
    background-color: #2c7699; 
    color: #DDD;
    text-decoration: none;
}

#eval-th {
    width: 15%;
    text-decoration: none;
    margin: auto;
    display: block;
    box-sizing: border-box;
}

.button-eval {
    text-decoration: none;
    margin: auto;
    display: block;
    box-sizing: border-box;
}

.button-eval a {
    margin: auto;
    background-color: #07915c;
    color: #FFF;
    text-decoration: none;
    text-align:center;
    border:1px solid #376450;
    padding:7px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.button-eval a.selected {
    background-color: #2c7699;
    color: #FFF;
    text-decoration: none;
}

.button-eval a:hover {
    background-color: #2c7699;
    color: #999;
    text-decoration: none;
}
