
body {
    margin: 0;
    color:black;
    background: -moz-linear-gradient(left, DarkSlateGray, Silver);
    background: -webkit-linear-gradient(right top, #C0C0C0 0%, #2F4F4F 100%);
    background: -ms-linear-gradient(left, DarkSlateGray, Silver);
}

article {
    background-color: #2c7699;
}

.container {
    width: 80%;
    height: 500px;
    padding: 0;
    margin: auto;
    background-color: rgba(25,115,125,0.20);
}

.containert {
    width: 95%;
    padding: 0;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(95,130,145,0.20);
}

#containerimghome {
    width: 90%;
    height: 90%; /* 470px; */
    padding: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(105,175,205,0.20);
}

#containerimghometopic {
    margin: auto;
    width: 90%;
    display: block;
    box-sizing: border-box;
    background-color: rgba(135,185,225,0.20);
}

#containerimgglobal {
    width: 90%;
    height: 90%; /* 470px; */
    margin: auto;
    display: block;
    box-sizing: border-box;
    background-color: rgba(105,175,205,0.20);
}

#containert {
    width: 80%;
	padding: 0;
	margin: auto;
    display: block;
    box-sizing: border-box; 
	background-color: rgba(125,140,165,0.20);
}

#imgcontainer {
    width: 90%;
    padding: 0;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(135,190,230,0.20);
}

#imgcontainerglobal {
    width: 90%;
    height: 50%; /* 240px; */
    padding-top: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(135,190,220,0.20);
}

#containertop {
    width: 90%;
    padding: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box;
    background-color: rgba(125,250,255,0.30);
}

.containerthome {
    width: 70%;
    padding: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(95,130,145,0.20);
}

.containertedit {
    width: 50%;
    padding: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(95,130,145,0.20);
}

.containertglobal {
    width: 36%;
    height: 270px;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(75,130,145,0.10);
}

.photo {
    width: 98%;
    padding: 1%;
    margin: auto;
    display: block;
}

.homephoto {
    width: 95%;
    padding: 1%;
    margin: auto;
    display: block;
}

.groupphotos {
    width: 90%;
    height: 470px;
    margin: auto;
    display: block;
    box-sizing: border-box; 
}

.homeeditphoto {
    width: 75%;
    padding: 1%;
    margin: auto;
    display: block;
}

.addphoto {
    padding: 1%;
    margin: auto;
    display: block;
}

.imageschema {
    clear: both;
    width: 30%;
    height: 130px;
    padding: 0;
    margin: 0;
}

section {
	margin: 10px 0;
}

#global  { 
    width: 38%;
    padding: 1%;
    margin: auto;
    display: block; 
    box-sizing: border-box;
    background-color: rgba(255, 190, 210, 0.5);
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
    margin:auto;
}

.schemagal {
    display: inline-block;
}

.schema {
    float: left;
    width: 30%;
    height: 130px; 
}

.after-box { 
}

#content {
    width: 85%;
    margin: auto;
    display: block;
    float: left;
    clear:both;
    box-sizing: border-box;
}

#content pre {
    white-space: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#menu_principal  {
width:99%;
height:10%;
border-radius:10px;
margin-left:1%;
margin-top:1%;
margin-bottom:1%;
border-radius: 10px;
background: -moz-linear-gradient(left, LightCyan, White);
background: -webkit-linear-gradient(right top, #C0C0C0 0%, #2F4F4F 100%);
background: -ms-linear-gradient(left, LightCyan, White);
text-align:left;
}

#image  { 
}

#tabs-container {
    margin-top: 0px;
    font-size: 0px;
}

#tabs-container h1 {
    font-size: 24px;
    color: #000;
}

footer {
    position: absolute;
    bottom: 0px; 
    width:90%;
    margin:auto;
    display: block;
    box-sizing: border-box;
    background-color:rgba(135, 190, 210, 0.20);
    text-align:center;
}

#menu_nav {
	background-color: rgba(140, 160, 180, 0.20);
	padding: 3px;
    margin: 0;
	text-align: center;
}

#menu_nav li {
	display: inline;
	list-style: none;
    text-decoration: none;
}

#menu_nav a {
	display:inline-block;
	margin: 0 30px;
    text-decoration: none;
}

#menu_nav li a:hover {
    text-decoration: none;
}

.btnvis {
    visibility:visible;
}

.btninv {
    visibility:hidden;
}

.images {
  float:top;
  float:left;
  height: 225px;
  width: 150px;
}

#container {
    width: 95%;
    margin: auto;
    display: block;
    box-sizing: border-box;
    background-color: rgba(165,220,210,0.20);
}

.well {
    clear: both;
    text-align: center;
    margin: auto;
	width: 80%;
    display: block;
    box-sizing: border-box;
    background-color: rgba(165,220,210,0.20);
}

.wellform {
    margin: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
    background-color: rgba(175,160,230,0.10);
}

.button {
    background-color: #07915c; /* rgba(60,90,110,0.70); */
    color: #FFF;
    text-align:center;
    padding: 6px;
}

.button a.selected {
    background-color: #2c7699; /* rgba(40,70,90,0.70); */
    color: #FFF;
}

.button a:hover {
    background-color: #2c7699; /* rgba(40,70,90,0.70); */
    color: rgb(180,205,250);
}

.button-menu {
    background-color: #07915c; /* rgba(60,90,110,0.70); */
    color: #FFF;
    text-align:center;
    padding: 6px;
}

.button-menu a:hover {
    background-color: #2c7699; /* rgba(40,70,90,0.70); */
    color: rgb(180,205,250);
}

#tabs-nav {
    width: 90%;
    margin:auto;
}

#tabs-nav a {
    margin:auto;
    background-color: #07915c; /* rgba(0,250,130,0.70); */
    color: #FFF;
    padding: 6px;
}

#tabs-nav a.selected {
    background-color: #2c7699; /* rgba(0,140,250,0.70); */
    text-decoration: none;
}

#tabs-nav a:hover {
    background-color: #2c7699; /* rgba(0,140,250,0.70); */
    color: #DDD;
    text-decoration: none;
}

#eval-th {
    width: 20%;
    margin: auto;
    display: block;
    box-sizing: border-box;
}

.button-eval a {
    margin: auto;
    background-color: #07915c;
    color: #FFF;
    text-align:center;
    border:1px solid #376450;
    padding:7px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.button-eval a.selected {
    background-color: #2c7699;
    color: #FFF;
    text-decoration: none;
}

.button-eval a:hover {
    background-color: #2c7699;
    color: #999;
    text-decoration: none;
}
