
body {
    margin: 0;
    color:black;
    background: -moz-linear-gradient(left, DarkSlateGray, Silver);
    background: -webkit-linear-gradient(right top, #C0C0C0 0%, #2F4F4F 100%);
    background: -ms-linear-gradient(left, DarkSlateGray, Silver);
}

.container {
    width: 80%;
    height: 500px;
    padding: 0;
    margin: auto;
    background-color: rgba(105,175,205,0.20);
}

.containert {
    width: 95%;
    padding: 0;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(95,130,145,0.20);
}

#containerimghome {
    width: 90%;
    height: 90%; /* 470px; */
    padding: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(105,175,205,0.20);
}

#containerimghometopic {
    margin: auto;
    width: 90%;
    display: block;
    box-sizing: border-box;
    background-color: rgba(135,185,225,0.20);
}

#containerimgglobal {
    width: 90%;
    height: 90%; /* 470px; */
    margin: auto;
    display: block;
    box-sizing: border-box;
    background-color: rgba(105,175,205,0.20);
}

#containert {
    width: 80%;
	padding: 0;
	margin: auto;
    display: block;
    box-sizing: border-box; 
	background-color: rgba(125,140,165,0.20);
}

#imgcontainer {
    width: 90%;
    padding: 0;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(135,190,230,0.20);
}

#imgcontainerglobal {
    width: 90%;
    height: 50%; /* 240px; */
    padding-top: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(135,190,220,0.20);
}

#containertop {
    width: 90%;
    padding: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box;
    background-color: rgba(125,250,255,0.30);
}

.containerthome {
    width: 70%;
    padding: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(95,130,145,0.20);
}

.containertedit {
    width: 50%;
    padding: 2%;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(95,130,145,0.20);
}

.containertglobal {
    width: 36%;
    height: 270px;
    margin: auto;
    display: block;
    box-sizing: border-box; 
    background-color: rgba(75,130,145,0.10);
}

.photo {
    width: 98%;
    padding: 1%;
    margin: auto;
    display: block;
}

.homephoto {
    width: 95%;
    padding: 1%;
    margin: auto;
    display: block;
}

.groupphotos {
    width: 90%;
    height: 470px;
    margin: auto;
    display: block;
    box-sizing: border-box; 
}

.homeeditphoto {
    width: 75%;
    padding: 1%;
    margin: auto;
    display: block;
}

.imageschema {
    clear: both;
    width: 30%;
    height: 130px;
    padding: 0;
    margin: 0;
}

section {
	margin: 10px 0;
}

#global  { 
    width: 38%;
    padding: 1%;
    margin: auto;
    display: block; 
    box-sizing: border-box;
    background-color: rgba(255, 190, 210, 0.5);
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
    margin:auto;
}

.schemagal {
    display: inline-block;
}

.schema {
    float: left;
    width: 30%;
    height: 130px; 
}

.after-box { 
}

#content {
    width: 85%;
    margin: auto;
    display: block;
    float: left;
    clear:both;
    box-sizing: border-box;
}

#content pre {
    white-space: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#menu_principal  {
width:99%;
height:10%;
border-radius:10px;
margin-left:1%;
margin-top:1%;
margin-bottom:1%;
border-radius: 10px;
background: -moz-linear-gradient(left, LightCyan, White);
background: -webkit-linear-gradient(right top, #C0C0C0 0%, #2F4F4F 100%);
background: -ms-linear-gradient(left, LightCyan, White);
text-align:left;
}

#image  { 
}

footer {
    width:80%;
    margin:auto;
    background-color:rgba(135, 190, 210, 0.20);
    text-align:center;
}

.menu_navx {
	background-color: rgba(105, 180, 140, 0.4);
    width: 20%;
    display: block;
    clear:both;
    box-sizing: border-box;
    margin: auto;
    float:left;
}

#menu_nav {
	background-color: rgba(140, 160, 180, 0.4);
	padding: 3px;
    margin: 0;
	text-align: center;
}

#menu_nav li {
	display: inline;
	list-style: none;
    text-decoration: none;
}

#menu_nav a {
	display:inline-block;
	margin: 0 30px;
    text-decoration: none;
}

#menu_nav li a:hover {
    text-decoration: none;
}

.btnvis {
    visibility:visible;
}

.btninv {
    visibility:hidden;
}

.images {
  float:top;
  float:left;
  height: 225px;
  width: 150px;
}

#container {
    width: 95%;
    margin: auto;
    display: block;
    box-sizing: border-box;
    background-color: rgba(165,220,210,0.20);
}

.well {
    clear: both;
    text-align: center;
    margin: auto;
	width: 80%;
    display: block;
    box-sizing: border-box;
    background-color: rgba(165,220,210,0.20);
}

.wellform {
    margin: auto;
    width: 80%;
    display: block;
    box-sizing: border-box;
    background-color: rgba(175,160,230,0.10);
}

.button {
    background-color: rgba(60,90,110,0.70);
    color: rgba(250,250,255,1.0);
    text-align:center;
    border:1px solid #376450;
    padding:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.button a:hover {
    background-color: rgba(40,70,90,0.70);
    color: rgba(150,155,160,1.0);
}

#tabs-navx a {
    margin: auto;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.0);
    color: #FFF;
    border-radius: 2px;
}

#tabs-navx a.selected {
    background-color: #3498db;
}

#tabs-nav {
    width: 90%;
    margin:auto;
}

#tabs-nav a {
    margin:auto;
    padding: 5px 10px;
    background-color: rgba(10,150,100,0.70);
    color: #FFF;
    padding: 4px;
}

#tabs-nav a:hover {
    background-color: rgba(10,170,255,0.90);
    text-decoration: none;
}

#eval-th {
    width: 20%;
    margin: auto;
    display: block;
    box-sizing: border-box;
}

.button-eval a {
    margin: auto;
    background-color: rgba(40,200,190,0.70);
    color: #FFF;
    text-align:center;
    border:1px solid #376450;
    padding:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
}

.button-eval a:hover {
    background-color: rgba(20,150,255,0.70);
    color: #FFF;
    text-decoration: none;
}
