
.container {
	width: 1200px;
	padding: 3px 35px;
	margin: auto;
	background-color: rgba(200,155,255,0.80);
}

section {
	margin: 10px 0;
}

.clearfix::after {
	display: block;
	clear: both;
	content: "";
}


body {
	/*font-family: Verdana, Geneva, sans-serif; font-family: 'Dosis', sans-serif; */
	font-size: 18px;
}

h1, h2, h3 {
	/*font-family: Verdana, Geneva, sans-serif; font-family: 'Play'; */
	color: #3498db;
}

h1 {
	font-size: 48px;
}

h2 {
	margin: 10px 0 10px 0;
	font-size: 32px;
	background-color: rgba(50,105,75,0.80);
	padding: 7px 10px 5px 10px;
	color: #FFF;
}

h3 {
	font-size: 24px;
	margin-top: 10px;
}

a {
	text-decoration: none;
	color: #000;
}

p, address {
	margin-bottom: 5px;
	line-height: 24px;
}

address {
	margin-bottom: 15px;
}

em, b {
	font-weight: bold;
}


header, header .container {
	background-color: #3498db;
}

header .container {
	padding-top: 0;
}

header {
	height: 60px;
	line-height: 60px;
}

header h1 {
	float: left;
	margin-top: 5px;
	color: #FFF;
}

header ul {
	float: right;
}

header li {
	float: left;
}

header a {
	font-size: 24px;
	display: block;
	padding: 0 15px;
}

header a:hover {
	background-color: #FFF;
}


#taglines {
	text-align: center;
}
#taglines em {
	font-size: 36px;
	color: #16a085;
}

#taglines em i {
	margin: 0 20px;
}


#tabs-nav a {
	display: block;
	float: left;
	padding: 5px 10px;
	background-color: #16a085;
	color: #FFF;
	margin-right: 10px;
	border-radius: 2px;
}

#tabs-nav a.selected {
	background-color: #3498db;
}

#tabs-container {
	margin-top: 20px;
}

#tabs-container h1 {
	font-size: 24px;
	color: #000;
}


footer, footer .container {
	text-align: center;
	background-color: #16a085;
}

footer {
	padding: 30px 0 20px 0;
}

footer h2 {
	color: #FFF;
	margin-top: 0;
	background-color: transparent;
}