{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Ajout de domaine
{% endblock %}

{% block sitephysphysmvc_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysphysmvc/images/geo-photo.jpg') }}" class="addphoto" alt="Image de Ajout de domaine" />
  </div>
{% endblock %}

{% block sitephysphysmvc_section %}
  <h3 style = "color:#FFF; text-align:center; margin:10px;">Ajout de domaine</h3>
{% endblock %}

{% block sitephysphysmvc_body %}
  
  <br />
  {{ include("SitephysPhysmvcBundle:Edit:formadd.html.twig") }}

{% endblock %}
