{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Ajout de domaine
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Ajout de domaine</div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/geo-photo.jpg') }}" class="homephoto" alt="Image de Ajout de domaine" />
    </div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}
  
  <br />
  {{ include("SitephysPhysmvcBundle:Edit:formadd.html.twig") }}

{% endblock %}
