{% extends "SitephysPhysmvcBundle::layout.html.twig" %}

{% block title %}
  Ajout de thème de domaine présent
{% endblock %}

{% block sitephysphysmvc_section %}
  <div id="hw">Ajout de thème du domaine {{ domtop.title }} </div>
{% endblock %}

{% block sitephysphysmvc_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysphysmvc/images/nasafree.jpg') }}" class="homephoto" alt="Image de Ajout de thème" />
    </div>
  </div>
{% endblock %}

{% block sitephysphysmvc_body %}

  <br />
  {{ include("SitephysPhysmvcBundle:Edit:formaddtopic.html.twig") }}

{% endblock %}
