{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Inscription (nouveau compte utilisateur)
{% endblock %}

{% block menu %}
  {{ parent() }}
{% endblock %}

{% block sitephysuser_section %}
{% endblock %}

{% block sitephysuser_image %}
  <div id="containerimghome">
    <div class="containerthome">
      <img src="{{ asset('bundles/sitephysuser/images/cyclotron.jpg') }}" class="homephoto" alt="Image de Ajout de compte Utilisateur" />
	</div>
  </div>
{% endblock %}

{% block sitephysuser_body %}
  <br />
  {% if (userroles == "author") %}
    <div id="hw">Inscription (nouveau compte Auteur)</div>
    <div id="containerimghometopic">
      <div id="hx"><i>
		Pour ce compte, veuillez préciser, s'il vous plait, vos domaines d'intérêts (au moins 500 caractères) en sciences et pour lesquels vous souhaiteriez éventuellement apporter des modifications ou des ajouts en plus des fonctionalités des comptes Utilisateurs.
      </i></div>
    </div>
  {% else %}
    <div id="hw">Inscription (nouveau compte Utilisateur)</div>
  {% endif %}

  <br /><br />
  {{ include("SitephysUserBundle:Security:formuseradd.html.twig") }}

{% endblock %}
