{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Inscription
{% endblock %}

{% block sitephysuser_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysuser/images/geo-photo.jpg') }}" class="addphoto" alt="Image de Suggestion - Ajout" />
  </div>
{% endblock %}

{% block sitephysuser_section %}
  <h2 style = "color:#FFF; text-align:center; margin:10px;">Inscription </h2>
{% endblock %}

{% block sitephysuser_body %}
  
  <br />
  {{ include("SitephysUserBundle:Security:formuseradd.html.twig") }}

{% endblock %}
