{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Inscription (nouveau compte)
{% endblock %}

{% block sitephysuser_image %}
  <div class="containertedit">
    <img src="{{ asset('bundles/sitephysuser/images/geo-photo.jpg') }}" class="addphoto" alt="Image de Ajout de compte Utilisateur" />
  </div>
{% endblock %}

{% block sitephysuser_section %}
  {% if (roleuser == "author") %}
    <h2 style = "color:#FFF; text-align:center; margin:10px;">Inscription (nouveau compte Auteur)</h2>
  {% else %}
    <h2 style = "color:#FFF; text-align:center; margin:10px;">Inscription (nouveau compte Utilisateur)</h2>
  {% endif %}
{% endblock %}

{% block sitephysuser_body %}
  
  <br />
  {{ include("SitephysUserBundle:Security:formuseradd.html.twig") }}

{% endblock %}
