{% extends "SitephysUserBundle::layoutuser.html.twig" %}

{% block title %}
  Déconnexion et retour à l'accueil
{% endblock %}

{% block sitephysuser_section %}
  <div id="eval-th">
    <div class="button-eval">
      <a href="{{ asset('../logout') }}">Retour à l'accueil</a>
    </div>
  </div>
   
{% endblock %}
